APP_NAME=Laravel
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=laravel
DB_USERNAME=root
DB_PASSWORD=

STRIPE_SECRET=

BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DRIVER=local
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

MEMCACHED_HOST=127.0.0.1

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=mailhog
MAIL_PORT=1025
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS=null
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

GOOGLE_MAPS_API_KEY=
ABLY_KEY=
ADMIN_EMAIL=
ASSET_URL=
AWS_ENDPOINT=
AWS_URL=
BCRYPT_ROUNDS=
CHATIFY_MIDDLEWARE=
CHATIFY_NAME=
CHATIFY_PATH=
CHATIFY_ROUTES_NAMESPACE=
CORS_ALLOWED_ORIGINS=
DATABASE_URL=
DB_FOREIGN_KEYS=
DB_SOCKET=
DEBUGBAR_ENABLED=
DEBUGBAR_THEME=
DYNAMODB_CACHE_TABLE=
DYNAMODB_ENDPOINT=
GOOGLE_RECAPTCHA_KEY=
GOOGLE_RECAPTCHA_SECRET=
LARAVEL_WEBSOCKETS_DOMAIN=
LARAVEL_WEBSOCKETS_PATH=
LARAVEL_WEBSOCKETS_PORT=
LARAVEL_WEBSOCKETS_SSL_CA=
LARAVEL_WEBSOCKETS_SSL_LOCAL_CERT=
LARAVEL_WEBSOCKETS_SSL_LOCAL_PK=
LARAVEL_WEBSOCKETS_SSL_PASSPHRASE=
LOG_SLACK_WEBHOOK_URL=
LOG_STDERR_FORMATTER=
MAILGUN_DOMAIN=
MAILGUN_ENDPOINT=
MAILGUN_SECRET=
MAIL_LOG_CHANNEL=
MEMCACHED_PASSWORD=
MEMCACHED_PERSISTENT_ID=
MEMCACHED_PORT=
MEMCACHED_USERNAME=
MYSQL_ATTR_SSL_CA=
PAPERTRAIL_PORT=
PAPERTRAIL_URL=
POSTMARK_TOKEN=
PUSHER_APP_HOST=
PUSHER_APP_PATH=
QUEUE_FAILED_DRIVER=
REDIS_CACHE_DB=
REDIS_CLIENT=
REDIS_CLUSTER=
REDIS_DB=
REDIS_QUEUE=
REDIS_URL=
SANCTUM_STATEFUL_DOMAINS=
SCRIBE_AUTH_KEY=
SESSION_CONNECTION=
SESSION_DOMAIN=
SESSION_SECURE_COOKIE=
SESSION_STORE=
SQS_PREFIX=
SQS_QUEUE=
SQS_SUFFIX=
WEBSOCKETS_REDIS_REPLICATION_CONNECTION=
WEBSOCKETS_REPLICATION_MODE=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=
FACEBOOK_CLIENT_ID=
FACEBOOK_CLIENT_SECRET=
FACEBOOK_REDIRECT_URI=
TWITTER_CLIENT_ID=
TWITTER_CLIENT_SECRET=
TWITTER_REDIRECT_URI=
APPLE_CLIENT_ID=
APPLE_CLIENT_SECRET=
APPLE_REDIRECT_URL=
LINKEDIN_CLIENT_ID=
LINKEDIN_CLIENT_SECRET=
LINKEDIN_REDIRECT_URL=

CURRENCY_RATES_API_KEY=

CHECKR_SECRET=

# Firebase service account
FIREBASE_CREDENTIALS=/path/to/firebase_credentials.json

