parameters:
    level: max
    paths:
        - app/
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    checkMissingCallableSignature: false

includes:
    - ./vendor/nunomaduro/larastan/extension.neon
    - ./phpstan-baseline.neon